body, html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#start-screen, #quiz-container {
    width: 100%;
    max-width: 500px; /* Adjusted for better mobile appearance */
    padding: 20px;
    background-color: #fff;
    border-radius: 15px; /* Increased for a softer look */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 15px 0; /* Ensure some spacing on smaller screens */
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #007bff; /* Tie the input box visually to the button */
    border-radius: 25px;
    margin: 10px 0; /* Space between input and button */
    width: calc(100% - 24px); /* Adjust width to padding and border */
    box-sizing: border-box; /* Include padding and border in the element's total width */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; /* Smooth background color transition and transform */
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05); /* Slight increase in size */
}

#choices .choice {
    display: block; /* Make choices block elements to fill width */
    margin: 10px auto; /* Center choices horizontally */
    padding: 10px 0; /* More vertical padding */
    width: 90%; /* Make choice buttons wider */
}

.choice-selected {
    background-color: #28a745;
    color: #fff;
    border: none; /* Remove border for a cleaner selected state */
}

#score {
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}

@media (max-width: 600px) {
    body, html {
        height: auto; /* Adjust height on smaller screens */
        min-height: 100vh; /* Ensure full viewport height */
    }

    #start-screen, #quiz-container {
        margin: 10px;
        padding: 20px;
    }

    button, input[type="text"] {
        font-size: 14px; /* Slightly smaller font on mobile */
    }
}
